#page-container {
  background: #EFEFEF;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 30vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img.logo {
  max-width: 32px;
  max-height: 32px;
}

.image-landing {
  max-height: 360px;
  max-width: 360px;
}