#page-container {
  background: #EFEFEF;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-top: 48px;
  padding-bottom: 300px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

img.logo {
  max-width: 32px;
  max-height: 32px;
}